{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}  {% endblock %}</h1>
    <p>Your Cameras:</p>
    <table border="1px solid black;"
        border-collapse"collapse;"
        margin-left="auto;"
        margin-right="auto;">
        <tr>
            <th>Snapshot</th>
            <th>Camera Name</th>
            <th>Model</th>
            <th>Camera Image</th>
        </tr>
        {% for row in data %}
        <tr>
            <td><a href="data:image/png;charset=utf-8;base64, {{ row[0] }}"><img src="data:image/png;charset=utf-8;base64, {{ row[0] }}" width="600"/></a>
            </td>
            <td><a href="/view_camera/{{ row[5] }}">{{ row[1] }}</a>
            </td>
            <td>{{ row[2] }}</td>
            <td><a href="{{ row[4] }}"><img src="data:image/png;charset=utf-8;base64, {{ row[3] }}" width="125"/></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    
{% endblock %}
