{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}  {% endblock %}</h1>

    <script src="{{url_for('static', filename='js/monitors.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/monitors.css')}}">
    
    <div class="tabs">

        <div class="tab" id="existTab" onclick="openTab('existTabContent')">Current Monitors</div>
        <div class="tab" id="newTab" onclick="openTab('newTabContent')">Add Monitor</div>
        <div class="tab" id="mapTab" onclick="openTab('mapTabContent')">Maps</div>

    </div>

    <div id="absoluteDelConfirm">
        <div id="delContent">
            <h4>Are you sure you want to delete this monitor?</h4>
            <div id="abconfirm" onclick="confirmDeleteForQueue()">
                <h5>Yes</h5>
            </div>
            <div id="abdeny" onclick="document.getElementById('absoluteDelConfirm').style.display = 'none';">
                <h5>No</h5>
            </div>
        </div>
    </div>

    <div class="tab-content" id='existTabContent'>
        
        <div id ="monitorgroups">

            <div id='xbxmondropdown' onclick="xbxmondropdown()">
                <h4>Grid Monitors ></h4>
            </div>
            
            <div id='xbxmondropdowncontent'>
                <table>
                    {% for mon in gridMon %}
                    <tr>
                        <td><a href="/monitors/view/{{ mon[0] }}">{{ mon[0] }}</a></td>
                        <td><a href="/monitors/xbxedit/{{ mon[0] }}">Edit</a></td>
                        <td><h5 style="cursor:pointer" onclick="runDel('{{ mon[0] }}')">Del</h5></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div id='slideshowdropdown' onclick="slideshowdropdown()">
                <h4>Slideshow Monitors ></h4>
            </div>
            
            <div id='slideshowdropdowncontent'>
                <table>
                    {% for mon in slideMon %}
                    <tr>
                        <td><a href="/monitors/view/{{ mon[0] }}">{{ mon[0] }}</a></td>
                        <td><a href="/monitors/slideshowedit/{{ mon[0] }}">Edit</a></td>
                        <td><h5 style="cursor:pointer" onclick="runDel('{{ mon[0] }}')">Del</h5></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>


            <div id='mapmondropdown' onclick="mapmondropdown()">
                <h4>Map Monitors ></h4>
            </div>
            
            <div id='mapmondropdowncontent'>
                <table>
                    {% for mon in mapMon %}
                    <tr>
                        <td><a href="/monitors/view/{{ mon[0] }}">{{ mon[0] }}</a></td>
                        <td><a href="/monitors/mapmonedit/{{ mon[0] }}">Edit</a></td>
                        <td><h5 style="cursor:pointer" onclick="runDel('{{ mon[0] }}')">Del</h5></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>


        </div>
    </div>

    <div class="tab-content" id='newTabContent'>
        <input type="button" value="Add from X By X Template" onclick="xbxedit(monNewName.value)"></input>
        <input type="button" value="Add from Slideshow Template" onclick="slideshowedit(monNewName.value)"></input>
        <input type="button" value="Add from Map Template" onclick=""></input>
        <form>
            <input id="monNewName" type="text" placeholder="New Monitor Name" name="username" value="">
        </form>
    </div>



    <div class="tab-content" id='mapTabContent'>
        <input type="button" value="Add new map (PNG Only)" onclick="newmap(mapNewName.value)"></input>
        <div id='mapAppend'>
            <form>
                <input id="mapNewName" type="text" placeholder="New Map Name" name="username" value="">
            </form>
        </div>
        <h4>----------------------------</h4>
        <h4>List of current maps</h4>
        
        <table>
        {% for map in mapList %}
        <tr>
            
            <td>
                <img src="data:image/png;charset=utf-8;base64, {{ map[1] }}" width="125"/>
            </td>
            <td>
                <h5>{{ map[0] }}</h5>
            </td>
            <td>
                <input type="button" value="Upload New" onclick="uploadNew('{{ map[0] }}')"></input>
            </td>
            <td>
                <input type="button" value="Delete" onclick="deleteMap('{{ map[0] }}')"></input>
            </td>
                
        
        </tr>
        {% endfor %}
        </table>

    </div>



<script>
    function runDel(monToDel) {
        deleteMonitor(monToDel)
    }

    var mapList = '{{ mapList }}';
    window.mapList = mapList;

    window.onload = openTab('existTabContent');
</script>

{% endblock %}
