{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}  {% endblock %}</h1>


<center>
<form name='myForm' method="post" action="{{ url_for('resetPassword') }}" style='text-align: center;'>
  <p>Reset User Password</p>
  <p>Username</p>
  <input type="text" name="username" placeholder='My Username' required ></input>
  <p>New Password</p>
  <input type="password" name="password" placeholder='Reset Password' required></input>
  <br><br>
  <input type="submit" value="Reset User Password"></input>
   <a href="{{ url_for('settings') }}" class='button_link'>Cancel</a>
</form>

{% for mesg in get_flashed_messages() %}
<h1>{{ mesg }}</h1>
{% endfor %}

</center>



{% endblock %}


