{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}  {% endblock %}</h1>

    <div> <b>{{ data[0] }}</b>                   <b>{{ data[6] }} {{ data[7] }}</b> </div>

    <div id="media">
        <audio id="audio" autoplay="true"></audio>
        <video controls="true" muted id="video" autoplay="true" playsinline="true" width="750"></video>
    </div> 
    
    <!--poster="{{url_for('static', filename='/pictures/loading.gif')}}"-->

    <script type="text/javascript">
        var cameraName = '{{ data[0] }}'
    </script>

    <script type="module">
        import {sendPtzMessage} from "{{url_for('static', filename='js/webrtc-client.js')}}";
        window.sendPtzMessage = sendPtzMessage;
     </script>

    <script type="module" src="{{url_for('static', filename='js/webrtc-client.js')}}"></script>


    <link rel="stylesheet" href="{{url_for('static', filename='css/view_camera.css')}}">

    <!--<div> {{ data }} </div>-->

    <table id="event-table" border="1px solid black;"
        margin-left="auto;">
        <thead>
            <tr>
                <th>Time</th>
                <th>Topic</th>
                <th>Data</th>
            </tr>    
        </thead>
        <tbody>
            {% for event in onvifevents %}
            <tr>
                <td>{{ event[2] }}</td>
                <td>{{ event[1] }}</td>
                <td>{{ event[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="right-dash">
        <div id="xyzcoord">
            <b id="xyzcoordtext">XYZ Coords: (Static)</b>
            <div class="joystick">
                <div onclick="window.sendPtzMessage('Up')" class="button up">↑</div>
                <div onclick="window.sendPtzMessage('Down')" class="button down">↓</div>
                <div onclick="window.sendPtzMessage('Left')" class="button left">←</div>
                <div onclick="window.sendPtzMessage('Right')" class="button right">→</div>
                <div onclick="window.sendPtzMessage('Positive')" class="button centerpositive">+</div>
                <div onclick="window.sendPtzMessage('Negative')" class="button centernegative">-</div>
             </div>
        </div>

    </div>
    
{% endblock %}
