{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}  {% endblock %}</h1>

    <div> <b>{{ data[0] }}</b>                   <b>{{ data[6] }} {{ data[7] }}</b> </div>

    <div id="media">
        <audio id="audio" autoplay="true"></audio>
        <video controls="true" muted id="video" autoplay="true" playsinline="true" width="750"></video>
    </div> 
    
    <!--poster="{{url_for('static', filename='/pictures/loading.gif')}}"-->

    <script type="text/javascript">
        var cameraName = '{{ data[0] }}'
    </script>

    <script type="module">
        import {sendPtzMessage} from "{{url_for('static', filename='js/webrtc-client.js')}}";
        window.sendPtzMessage = sendPtzMessage;
     </script>

    <script type="module" src="{{url_for('static', filename='js/webrtc-client.js')}}"></script>


    <link rel="stylesheet" href="{{url_for('static', filename='css/view_camera.css')}}">

    <!--<div> {{ data }} </div>-->

    <table id="event-table" border="1px solid black;"
        margin-left="auto;">
        <thead>
            <tr>
                <th>Time</th>
                <th>Topic</th>
                <th>Data</th>
            </tr>    
        </thead>
        <tbody>
            {% for event in onvifevents %}
            <tr>
                <td>{{ event[2] }}</td>
                <td>{{ event[1] }}</td>
                <td>{{ event[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="right-dash">
        <div id="xyzcoord">
            <b id="xyzcoordtext">XYZ Coords: (Static)</b>
            <div class="joystick">
                <div onmousedown="window.sendPtzMessage('up', speedSlider.value)" onmouseup="window.sendPtzMessage('stop')" class="button up">↑</div>
                <div onmousedown="window.sendPtzMessage('down', speedSlider.value)" onmouseup="window.sendPtzMessage('stop')" class="button down">↓</div>
                <div onmousedown="window.sendPtzMessage('left', speedSlider.value)" onmouseup="window.sendPtzMessage('stop')" class="button left">←</div>
                <div onmousedown="window.sendPtzMessage('right', speedSlider.value)" onmouseup="window.sendPtzMessage('stop')" class="button right">→</div>
                <div onmousedown="window.sendPtzMessage('positive', speedSlider.value)" onmouseup="window.sendPtzMessage('stop')" class="button centerpositive">+</div>
                <div onmousedown="window.sendPtzMessage('negative', speedSlider.value)" onmouseup="window.sendPtzMessage('stop')" class="button centernegative">-</div>
                
                <div class="slider-box">
                    <b>Speed</b>
                    <input class="slider" id="slider" list="slidermarkers" type="range" min="1" max="10" value="5">
            
                    <datalist id="slidermarkers">
                        <option label="1" value="1"></option>
                        <option label="2" value="2"></option>
                        <option label="3" value="3"></option>
                        <option label="4" value="4"></option>
                        <option label="5" value="5"></option>
                        <option label="6" value="6"></option>
                        <option label="7" value="7"></option>
                        <option label="8" value="8"></option>
                        <option label="9" value="9"></option>
                        <option label="10" value="10"></option>
                        </datalist>
                </div>
            </div>
            <div class="space">
                
            </div>
        </div>

    </div>
    
    <script type="text/javascript">
        var speedSlider = document.getElementById("slider");
    </script>

{% endblock %}
