
tbody {
    display: block;
    height: 200px;
    overflow: auto;
    width: 100%
}
thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;/* even columns width , fix width of table too*/
}
thead {
    width: 100%
}
table {
    width: 800px;
}

body {
position: relative;
margin: 0;
height: 100vh;
}

#main-content {
    width: 100%; /* Expanded to the full width */
    height: 100%; /* Adjust this if necessary */
}

#right-dash {
    position: absolute; /* we use absolute position for the #right-dash */
    right: 0; /* stick it to the right side */
    top: 87.7167px; /* The height of your navbar to avoid overlap, adjust as necessary */
    display: flex; /* here we use flex to vertically align its items */
    flex-direction: column; /* Sets the direction of flex items in a flex container */
    justify-content: flex-start; /* center items horizontally */
    align-items: center; /* center items vertically */
    width: 33.33%; 
    height: calc(100% - 60px); /* 100% of body's height minus navbar's height */
    background: #f3f3f3;
    border: 1px solid black; 	/* Adding a border to distinguish the element */
    padding: 10px;     /* Adding some padding for text */
}

#event-table {
    height: 30px
}

#xyzcoord {
    border: 1px solid black; 	/* Adding a border to distinguish the element */
    padding: 10px;     /* Adding some padding for text */
    opacity: 0.6;/* By default non-interactable, is removed when PTZ COORD is updated  */
    pointer-events: none;
}

.joystick {
    position: relative; 
    width: 200px;
    height: 200px;
    margin:auto;
    cursor: default;
 }
 
 .button {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: lightgrey;
    border-radius: 20%;
    display: flex;
    align-items: center; 
    justify-content: center;
    font-family: Arial, sans-serif;  
    transition: 0.3s all;
 }
 
 .button:hover {
   box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
   background-color: #aaa;
 }
 
 .button:active {
   box-shadow: inset 0px 0px 15px rgba(0,0,0,0.2);
 }
 
 .button.up {
    top: 0;
    left: 75px;
 }

 .button.up:hover {
     cursor: n-resize;
 }
 
 .button.down {
    bottom: 0;
    left: 75px;
 }
 

 .button.down:hover {
    cursor: s-resize;
}

 .button.left {
    left: 0;
    top: 75px;
    transform: translateX(25px);
 }
 

 .button.left:hover {
    cursor: w-resize;
}

 .button.right {
    right: 0;
    top: 75px;
    transform: translateX(-25px);

 }


 .button.right:hover {
    cursor: e-resize;
}
 
 .button.centerpositive, .button.centernegative {
    left: 75px;
    top: 75px;
 }
 
 .button.centerpositive {
    transform: translateY(-25px);
 }

 .button.centerpositive:hover {
    cursor: zoom-in;
}
 
 .button.centernegative {
    transform: translateY(25px);
 }

 .button.centernegative:hover {
    cursor: zoom-out;
}

.slider-box {
    transform: translateY(185px);
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: grey;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: darkgray;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: darkgray;
    cursor: pointer;
}
.space {
    height: 25px
}

#twowayaudio {
border: 1px solid black; 	/* Adding a border to distinguish the element */
padding: 10px;     /* Adding some padding for text */
position: relative;
opacity: 0.6;/* By default non-interactable, is removed when we get a truetwa from webrtc */
pointer-events: none;
}

.microphonetogglebutton {
        cursor: default;
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: lightgrey;
        border-radius: 20%;
        display: flex;
        align-items: center; 
        justify-content: center;
        font-family: Arial, sans-serif;  
        transition: 0.3s all;
        margin: auto;
        left: 0;
        right: 0;
}

.microphonetogglebutton:hover {
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    background-color: #aaa;
}

#needControl {
    border: 1px solid black; 	/* Adding a border to distinguish the element */
    padding: 10px;     /* Adding some padding for text */
    position: relative;

    /* opacity: 0.6;
    pointer-events: none; */

}

.needMicModal {
    margin: auto; /* Hidden by default */
    width: 100%; /* Full width */
    height: auto; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

.innerMicModal {
    display: block; /* Hidden by default */
    position: relative; /* Stay in place */
    z-index: 1; /* Sit on top */
    text-decoration-color: black;
    left: 0;
    top: 0;
    width: 75%; /* Full width */
    height: 75%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    color: whitesmoke;
    background-color: #343a40; /* Black w/ opacity */
  }